Zad. 1

In [1]:
n = int(input("Podaj liczbę rzędów: "))

Podaj liczbę rzędów: 9

In [2]:
row_counter = (n)
for i in range(1, n):
  for j in range(1, i + 1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

Zad. 2

In [7]:
n = 5

for i in range(1, n+1):
  print("*" * i)
for i in range(n-1, 0, -1):
  print("*" * i)

*
**
***
****
*****
****
***
**
*

Zad. 3

In [3]:
lista_ciag = [6,2,7,1,12,56,99]

3a

In [4]:
(lista_ciag_string) = [str(liczba) if liczba >=10 and liczba <=99 else liczba for liczba in lista_ciag]
print(lista_ciag_string)

[6, 2, 7, 1, '12', '56', '99']

3b

In [5]:
najmniejsza_wartosc = min(lista_ciag)
print(najmniejsza_wartosc)

1